.container{
        font-family: var(--mainFont);
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        max-width: 80rem;
        margin: 0 auto;
      }
      
.container{
        width: 100%;
      }

.abcd-container{
    display:flex;
    margin-bottom:0.5rem;
    width:100%;
    font-size:1.8rem;
    font-family: var(--mainFont);
}

.prefix{
    padding: 1.5rem 2.5rem;
    background-color: beige;
    border-radius: 0.6em;
}

.abcd-option{
    padding: 1.5rem;
    text-align: left;
}

.question{
    padding: 1rem;
}

#game{
    margin: 2rem;
}

@media screen and (max-width: 820px){
    .container{
        font-family: var(--mainFont);
        width: 100vw;
        height: 100vh;
        justify-content: flex-start;
        align-items: flex-start;
      }
  
  
  }