/*global settings*/
:root{
  background-color: rgb(204, 250, 250);
  font-size: 62.5%;
  --mainFont: Georgia, "Times New Roman", Times, serif;
  font: var(--mainFont);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/*various headings*/
h1,
h2,
h3,
h4, {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  font-family: var(--mainFont);
  color:rgb(235, 147, 65)
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight:700;
}

h3 {
  font-size: 2.8rem;
  font-weight:500;
}

/* UTILITIES */
.container {
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}